<!DOCTYPE html>
<html>
<head>
	<title>TT</title>
</head>
<body>
	<div>
		Fitness: {{ data['fitness'] }} <br>
		{% for class in data['tt'] %}
		<br>
		{{ class[3][3].CLASS }}
		<table border="1" >
			{% for day in class %}
			<tr>
				{% for time in day %}
				<td width = "85" height = "30" bgcolor = "{{ time.colour }}" >
					{% if time != 0 %}						
						{{ time.name }} {{ time.teacher }}
					{% endif %}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
			<br>
		</table>
		{% endfor %}
	</div>
</body>
</html>